body {
    margin: 0;
    background-color: #eeeeee;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: #7a7a7a;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Verdana", Verdana, Sans-serif;
}

li a.active {
    background-color: #50A8AF;
    color: white;
}

li a:hover:not(.active) {
    background-color: #af5750;
    color: white;
}

h2 {
    color: black;
    font-family: "Arial", Arial, Sans-serif;
    text-align: center;
}

h3 {
    color: black;
    font-family: "Arial", Arial, Sans-serif;
    text-align: center;
}

h4 {
    color: black;
    font-family: "Arial", Arial, Sans-serif;
    text-align: left;
    font-style: bold;
    margin-bottom: 0.2em;
}

p {
    font-family: "Verdana", Verdana, Sans-serif;
    margin-top: 0px;
}

section {
    float: left;
    width: 30%;
    margin: 0 1.5% 24px 1.5%;
}

footer {
    font-size: 10px;
    text-align: left;
    color: #9a9a9a;
    position:fixed;
    float: left;
    bottom:0;
    padding: 0.5em 8px;
    width:17%;
    overflow: auto;
    font-family: "Verdana", Verdana, Sans-serif;
}